In [1]:
import pandas as pd
import numpy as np

In [75]:
a = pd.read_csv('./2019-2020.csv')
club_list=pd.read_csv('./epl_clubs.csv')
a

,Unnamed: 0,Player,Player.1,Apps,Mins,Tackles,Inter,Fouls,Offsides,Clear,...,Off,Disp,UnsTch,Assists.1,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB
0,0,"521Simon MooreSheff Utd, 32, GK","Simon Moore Sheff Utd, 32, GK",2,180,0.5,-,-,-,-,...,-,-,-,-,-,22,34.1,-,5,-
1,1,"522Mark TraversBournemouth, 23, GK","Mark Travers Bournemouth, 23, GK",1,90,-,-,-,-,1,...,-,-,-,-,-,25,60.0,-,2,-
2,0,"511Adam IdahNorwich, 21, FW","Adam Idah Norwich, 21, FW",1(11),221,0.2,-,0.2,-,0.1,...,0.1,0.4,0.8,-,0.1,4.0,72.9,-,-,-
3,1,"512Kelland WattsNewcastle, 22, D(C),DMC","Kelland Watts Newcastle, 22, D(C),DMC",0(1),16,1,-,-,-,-,...,-,-,-,-,-,3.0,33.3,-,-,-
4,2,"513Albian AjetiWest Ham, 25, FW","Albian Ajeti West Ham, 25, FW",0(9),132,0.1,-,0.7,-,-,...,0.2,0.2,0.4,-,0.2,1.7,80.0,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,5,"6Sadio ManéLiverpool, 30, AM(CLR),FW","Sadio Mané Liverpool, 30, AM(CLR),FW",31(4),2756,1.3,0.4,1.3,-,0.2,...,0.4,1.6,2.9,7,1.7,31.5,81.6,0.3,1.0,0.1
518,6,"7Mohamed SalahLiverpool, 29, AM(CLR),FW","Mohamed Salah Liverpool, 29, AM(CLR),FW",33(1),2888,0.5,0.2,0.5,-,0.1,...,0.6,2.0,2.6,10,1.8,28.8,76.5,0.3,0.4,0.1
519,7,"8Raheem SterlingMan City, 27, M(CLR),FW","Raheem Sterling Man City, 27, M(CLR),FW",30(3),2661,0.8,0.5,0.9,-,0.1,...,0.4,1.8,2.0,1,1.5,35.4,82.8,0.2,0.3,0.1
520,8,"9Marcus RashfordMan Utd, 24, AM(CLR),FW","Marcus Rashford Man Utd, 24, AM(CLR),FW",31,2655,0.4,0.3,0.7,-,0.5,...,0.4,1.1,2.1,7,1.1,30.4,77.3,0.3,1.2,0.2
521,9,"10James MaddisonLeicester, 25, AM(CLR)","James Maddison Leicester, 25, AM(CLR)",29(2),2629,1.9,0.3,1.2,-,0.2,...,0.1,0.9,1.8,3,2.5,47.5,83.0,1.9,2.3,0.2

In [59]:
club

              Name
0          Watford
1     Huddersfield
2          Chelsea
3   Crystal Palace
4           Wolves
5        Liverpool
6      Southampton
7          Cardiff
8        Newcastle
9      Bournemouth
10          Fulham
11         Man Utd
12         Everton
13       Tottenham
14        West Ham
15       Leicester
16         Arsenal
17         Burnley
18        Brighton
19        Man City

In [55]:
a.columns

Index(['Unnamed: 0', 'Player', 'Player.1', 'Apps', 'Mins', 'Tackles', 'Inter',
       'Fouls', 'Offsides', 'Clear', 'Drb', 'Blocks', 'OwnG', 'Rating',
       'Goals', 'Assists', 'SpG', 'KeyP', 'Fouled', 'Off', 'Disp', 'UnsTch',
       'Assists.1', 'KeyP.1', 'AvgP', 'PS%', 'Crosses', 'LongB', 'ThrB'],
      dtype='object')

In [56]:
b = a.drop(['Unnamed: 0','Player'],axis=1).copy()

In [5]:
b.index[1]

1

In [6]:
b['club'] = np.nan
b['position'] =np.nan
b['age'] = np.nan
b

,Player.1,Apps,Mins,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,...,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB,name,club,position,age
0,"Simon Moore Sheff Utd, 32, GK",2,180,0.5,-,-,-,-,-,-,...,-,22,34.1,-,5,-,NaN,NaN,NaN,NaN
1,"Mark Travers Bournemouth, 23, GK",1,90,-,-,-,-,1,-,-,...,-,25,60.0,-,2,-,NaN,NaN,NaN,NaN
2,"Adam Idah Norwich, 21, FW",1(11),221,0.2,-,0.2,-,0.1,0.1,-,...,0.1,4.0,72.9,-,-,-,NaN,NaN,NaN,NaN
3,"Kelland Watts Newcastle, 22, D(C),DMC",0(1),16,1,-,-,-,-,-,-,...,-,3.0,33.3,-,-,-,NaN,NaN,NaN,NaN
4,"Albian Ajeti West Ham, 25, FW",0(9),132,0.1,-,0.7,-,-,-,-,...,0.2,1.7,80.0,-,-,-,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,"Sadio Mané Liverpool, 30, AM(CLR),FW",31(4),2756,1.3,0.4,1.3,-,0.2,0.8,-,...,1.7,31.5,81.6,0.3,1.0,0.1,NaN,NaN,NaN,NaN
518,"Mohamed Salah Liverpool, 29, AM(CLR),FW",33(1),2888,0.5,0.2,0.5,-,0.1,0.5,-,...,1.8,28.8,76.5,0.3,0.4,0.1,NaN,NaN,NaN,NaN
519,"Raheem Sterling Man City, 27, M(CLR),FW",30(3),2661,0.8,0.5,0.9,-,0.1,0.7,0.1,...,1.5,35.4,82.8,0.2,0.3,0.1,NaN,NaN,NaN,NaN
520,"Marcus Rashford Man Utd, 24, AM(CLR),FW",31,2655,0.4,0.3,0.7,-,0.5,0.5,-,...,1.1,30.4,77.3,0.3,1.2,0.2,NaN,NaN,NaN,NaN
521,"James Maddison Leicester, 25, AM(CLR)",29(2),2629,1.9,0.3,1.2,-,0.2,1.5,-,...,2.5,47.5,83.0,1.9,2.3,0.2,NaN,NaN,NaN,NaN

In [7]:
str(b.loc[[1],['Player.1']]).strip()

'Player.1\n1  Mark Travers Bournemouth, 23, GK'

In [8]:
player_info = b.iloc[400]['Player.1'].split()

In [9]:
player_info[-1]

'D(CR)'

In [10]:
player_info

['James', 'Tomkins', 'Crystal', 'Palace,', '33,', 'D(CR)']

In [14]:
data1 =  b.iloc[0]['Player.1'].split()[-1]
type(data1)

str

In [22]:
b.loc[0,'position'] = data1
b

,Player.1,Apps,Mins,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,...,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB,name,club,position,age
0,"Simon Moore Sheff Utd, 32, GK",2,180,0.5,-,-,-,-,-,-,...,-,22,34.1,-,5,-,NaN,NaN,GK,NaN
1,"Mark Travers Bournemouth, 23, GK",1,90,-,-,-,-,1,-,-,...,-,25,60.0,-,2,-,NaN,NaN,NaN,NaN
2,"Adam Idah Norwich, 21, FW",1(11),221,0.2,-,0.2,-,0.1,0.1,-,...,0.1,4.0,72.9,-,-,-,NaN,NaN,NaN,NaN
3,"Kelland Watts Newcastle, 22, D(C),DMC",0(1),16,1,-,-,-,-,-,-,...,-,3.0,33.3,-,-,-,NaN,NaN,NaN,NaN
4,"Albian Ajeti West Ham, 25, FW",0(9),132,0.1,-,0.7,-,-,-,-,...,0.2,1.7,80.0,-,-,-,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,"Sadio Mané Liverpool, 30, AM(CLR),FW",31(4),2756,1.3,0.4,1.3,-,0.2,0.8,-,...,1.7,31.5,81.6,0.3,1.0,0.1,NaN,NaN,NaN,NaN
518,"Mohamed Salah Liverpool, 29, AM(CLR),FW",33(1),2888,0.5,0.2,0.5,-,0.1,0.5,-,...,1.8,28.8,76.5,0.3,0.4,0.1,NaN,NaN,NaN,NaN
519,"Raheem Sterling Man City, 27, M(CLR),FW",30(3),2661,0.8,0.5,0.9,-,0.1,0.7,0.1,...,1.5,35.4,82.8,0.2,0.3,0.1,NaN,NaN,NaN,NaN
520,"Marcus Rashford Man Utd, 24, AM(CLR),FW",31,2655,0.4,0.3,0.7,-,0.5,0.5,-,...,1.1,30.4,77.3,0.3,1.2,0.2,NaN,NaN,NaN,NaN
521,"James Maddison Leicester, 25, AM(CLR)",29(2),2629,1.9,0.3,1.2,-,0.2,1.5,-,...,2.5,47.5,83.0,1.9,2.3,0.2,NaN,NaN,NaN,NaN

In [23]:
info_list=[]

In [53]:
#최종본
for i in range(len(b.index)):
    info = b.iloc[i]['Player.1'].split()
    b.loc[i,'age'] = info[-2].replace(',','')
    b.loc[i,'position'] = info[-1]
    
b

,Player.1,Apps,Mins,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,...,KeyP.1,AvgP,PS%,Crosses,LongB,ThrB,name,club,position,age
0,"Simon Moore Sheff Utd, 32, GK",2,180,0.5,-,-,-,-,-,-,...,-,22,34.1,-,5,-,NaN,NaN,GK,32
1,"Mark Travers Bournemouth, 23, GK",1,90,-,-,-,-,1,-,-,...,-,25,60.0,-,2,-,NaN,NaN,GK,23
2,"Adam Idah Norwich, 21, FW",1(11),221,0.2,-,0.2,-,0.1,0.1,-,...,0.1,4.0,72.9,-,-,-,NaN,NaN,FW,21
3,"Kelland Watts Newcastle, 22, D(C),DMC",0(1),16,1,-,-,-,-,-,-,...,-,3.0,33.3,-,-,-,NaN,NaN,"D(C),DMC",22
4,"Albian Ajeti West Ham, 25, FW",0(9),132,0.1,-,0.7,-,-,-,-,...,0.2,1.7,80.0,-,-,-,NaN,NaN,FW,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,"Sadio Mané Liverpool, 30, AM(CLR),FW",31(4),2756,1.3,0.4,1.3,-,0.2,0.8,-,...,1.7,31.5,81.6,0.3,1.0,0.1,NaN,NaN,"AM(CLR),FW",30
518,"Mohamed Salah Liverpool, 29, AM(CLR),FW",33(1),2888,0.5,0.2,0.5,-,0.1,0.5,-,...,1.8,28.8,76.5,0.3,0.4,0.1,NaN,NaN,"AM(CLR),FW",29
519,"Raheem Sterling Man City, 27, M(CLR),FW",30(3),2661,0.8,0.5,0.9,-,0.1,0.7,0.1,...,1.5,35.4,82.8,0.2,0.3,0.1,NaN,NaN,"M(CLR),FW",27
520,"Marcus Rashford Man Utd, 24, AM(CLR),FW",31,2655,0.4,0.3,0.7,-,0.5,0.5,-,...,1.1,30.4,77.3,0.3,1.2,0.2,NaN,NaN,"AM(CLR),FW",24
521,"James Maddison Leicester, 25, AM(CLR)",29(2),2629,1.9,0.3,1.2,-,0.2,1.5,-,...,2.5,47.5,83.0,1.9,2.3,0.2,NaN,NaN,AM(CLR),25

In [27]:
len_list=[]
for i in info_list:
    len_list.append(len(i))
len_list

[6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 4,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 4,
 5,
 6,
 6,
 6,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 7,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 7,
 6,
 5,
 6,
 5,
 7,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 4,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 5,
 5,
 6,
 6,
 6,
 5,
 4,
 5,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 4,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 7,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 5,
 6,
 6,
 4,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 5,
 6,
 5,
 5,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 6,
 5,
 6,
 4,
 5,
 5,
 6,
 6,
 4,
 5,
 6,
 5,
 5,
 6,
 6,
 7,
 6,
 5,
 5,
 6,
 5,
 5,
 6,
 6,
 5]

In [65]:
for player in b['Player.1']:

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [76]:
for club in club_list['Name']:
    print(club)

Watford
Huddersfield
Chelsea
Crystal Palace
Wolves
Liverpool
Southampton
Cardiff
Newcastle
Bournemouth
Fulham
Man Utd
Everton
Tottenham
West Ham
Leicester
Arsenal
Burnley
Brighton
Man City

In [78]:
club_list

              Name
0          Watford
1     Huddersfield
2          Chelsea
3   Crystal Palace
4           Wolves
5        Liverpool
6      Southampton
7          Cardiff
8        Newcastle
9      Bournemouth
10          Fulham
11         Man Utd
12         Everton
13       Tottenham
14        West Ham
15       Leicester
16         Arsenal
17         Burnley
18        Brighton
19        Man City

In [98]:
b['Player.1'][1].find(club_list['Name'][5])

-1

In [82]:
b['Player.1'][1]

'Mark Travers Bournemouth, 23, GK'

In [88]:
club_list['Name'][0]

'Watford'